@use "@/styles/colors.module.scss" as *;

.dashboard-main-container {
  background-color: $main-container-bg-light;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: padding-left 200ms;

  .content-container {
    flex-grow: 1;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 50px;

    @media (max-width: 900px) {
      padding-left: 20px;
    }

    .paper-container {
      min-height: 400px;
      padding: 10px 24px;
      margin: 1.2rem;
      background-color: $main-container-paper-bg-light;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    }
  }
}

.dashboard-main-container.dark {
  background-color: $main-container-bg-dark;

  .paper-container {
    border: 1px solid rgba($color: $primary, $alpha: 0.4);
    background-color: $main-container-paper-bg-dark;
  }
}
